

$org: #FA8526;
@mixin disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

@media screen and (max-width: 305.5px) {
	.c_prodbox_name {
		font-size: 17px !important;
		margin: 13px 1px 5px 0 !important;
	}
}

@media screen and (min-width:306px) and (max-width: 400px) {
	.cart_product_box .cart_prod_box_img img {
		height: 50px !important;
		width: 50px !important;
		margin-top: 15px !important;
	}
	.c_prodbox_name {
		font-size: 20px !important;
		margin: 8px 1px 5px 0 !important;
	}
	.cart_prod_box_price {
		padding-top: 28px !important;
	}
	.c_prod_b_price_txt {
		font-size: 15px !important;
	}
}

@media screen and (max-width: 800px) {
	.c_prod_box_remove_prod {
		width: 30px !important;
		height: 30px !important;
		line-height: 18px !important;
		top: -8px !important;
		right: -5px !important;
	}
	.cart_product_box {
		box-shadow: -2px 1px 2px 0 #979797 !important;
	}
}

.cart_wrap {
	display: block;
	position: relative;
	min-height: 300px;
	background-color: #F2F2F2;
	margin-bottom: 50px;

}

.cart_head_title {
	display: inline-block;
	position: relative;
	height: 45px;
	margin-left: 0 !important;
	margin-top:30px;
	border-bottom: 1px solid $org;
	text-align: left;
}

.cart_head_title span {
	display: inline-block;
	position: absolute;
	top: 0;
	min-width: 40px;
	font-weight: bold;
	font-size: 25px;
}

.cart_head_title span:nth-child(1) {
	background-image: url('../images/cart/icon.png');
	background-repeat: no-repeat;
	background-size: 95%;
	background-position: 50%;
	width: 40px;
	height: 40px;
}

.cart_head_title span:nth-child(2) {
	left: 50px;
}

.cart_head_title span:nth-child(3) {
	left: 225px;
	top: 4px;
	font-size: 20px;
}

.cart_wrap_product {
	display: block;
	min-height: 200px;
	position: relative;
	margin-left: 0 !important;
	border-bottom: 1px solid $org;
	padding: 0 0 2rem 0 !important;
	margin-bottom: 20px;

}

.cart_product_box {
	display: inline-block;
	min-height: 70px;
	background-color: #fff;
	border-radius: 5px;
	position: relative;
	margin-top: 20px;
	margin-left: 0 !important;
	padding: 0.5rem 0 0.5rem 0 !important;
	box-shadow: -1px 0 2px 0 #979797;
}

.cart_product_box .cart_prod_box_img {
	display: inline-block;
	height: 80px;
	overflow: hidden;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.cart_product_box .cart_prod_box_img img {
	height: 70px;
	width: 70px;
	margin-top: 5px;
	@include disable-select;
}

.cart_product_box .cart_prod_box_info {
	display: flex;
	flex-direction: column;
	min-height: 80px;
	overflow: hidden;
	text-align: left;
}

.cart_prod_box_info span:nth-child(1) {
	font-weight: bold;
	font-size: 25px;
	font-family: 'Nanum Brush Script', cursive;
	margin: 5px 3px 5px 0;
	color: $org;
	border-bottom: 1px solid #A8A8A8;
}

.cart_prod_box_info span:nth-child(2) {
	font-weight: bold;
	font-size: 14px;
}

.cart_product_box .cart_prod_box_price {
	display: block;
	height: 80px;
	position: relative;
	padding-top: 25px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}

.cart_prod_box_price .c_prod_b_price_txt {
	position: relative;
	font-weight: bold;
	margin-left: -20px !important;
	color: $org;
	font-size: 18px;
}

.c_salad_box {
	height: 55px !important;
	margin-top: 15px !important;
}

.c_prod_box_remove_prod {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	top: 20px;
	right: -17px;
	border: 5px solid #F2F2F2;
	background-color: #fff;
	-webkit-box-shadow: inset 0px 0px 0px 1px #F2F2F2;
	-moz-box-shadow: inset 0px 0px 0px 1px #F2F2F2;
	box-shadow: inset 0px 0px 0px 1px #F2F2F2;
	color: $org;
	line-height: 27px;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
	transition: 0.2s;
	font-size: 20px;
	-webkit-tap-highlight-color: transparent;
	@include disable-select;
}

.c_prod_box_remove_prod:hover {
	color: #D27326;
}

.c_prod_box_remove_prod:active {
	font-size: 18px;
}


/* Total delivery */

.cart_wrap_del,
.cart_wrap_total {
	display: block;
	position: relative;
	min-height: 35px;
	margin-left: 0 !important;
	background-color: #fff;
}

.cart_wrap_del {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.cart_wrap_total {
	margin-bottom: 30px;
	border-top: 1px solid #A8A8A8;
	background-color: #fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.cart_wrap_del span:nth-child(1),
.cart_wrap_total span:nth-child(1) {
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
}

.cart_wrap_del span:nth-child(2),
.cart_wrap_total span:nth-child(2) {
	margin-top: 3px;
	font-size: 18px;
	margin: 10px;
}

.cart_gotocheckout_button {
	position: relative;
	height: 35px;
	width: 200px;
	background-color: $org;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 13px;
	padding: .4rem 0 0 0 !important;
	margin-bottom: 30px;
	border-radius: 3px;
	transition: 0.2s;
	@include disable-select;
	-webkit-tap-highlight-color: transparent;
}

.cart_gotocheckout_button:hover {
	box-shadow: 0 0 1px 0 #000;
}


/* Empty cart */

.cart_empty_msg {
	display: block;
	min-height: 30px;
	margin: 20px 10px 60px 10px;
	width: 400px;
	font-family: 'Bitter', serif;
	font-size: 14px;
}

.cart_emptycart_img {
	width: 150px;
	height: 150px;
	border-bottom: 1px solid #ACACAC;
}

.emptycart_gotohome_button {
	position: relative;
	height: 35px;
	width: 200px;
	background-color: $org;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 12px;
	padding: .5rem 0 0 0 !important;
	margin-bottom: 30px;
	border-radius: 3px;
	transition: 0.2s;
	-webkit-tap-highlight-color: transparent;
}

.emptycart_gotohome_button:hover {
	box-shadow: 0 0 1px 0 #000;
}

