

$org: #FA8526;
@mixin disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.footer_container {
	display: block;
	position: relative;
	min-height: 250px;
	box-shadow: 0 0 10px 0 #000;
	margin-top: 50px;
	background-color: #000;
	padding-bottom: 30px;
	overflow: hidden;
}

.footer_bg {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	background-image: url('../images/footer/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	z-index: 1;
	opacity: 0.4;
}

.f_wrap_footer {
	display: block;
	position: relative;
	min-height: 250px;
	z-index: 2;
}

.f_footer_sect {
	display: block;
	position: relative;
	min-height: 250px;
}

.f_footer_sect_one,
.f_footer_sect_two {
	display: block;
	position: relative;
	min-height: 150px;
	overflow: hidden;
	padding-top: 20px !important;
}

.footer_nav_logo {
	color: #fff !important;
	min-height: 80px !important;
	margin-top: 30px;
	@include disable-select;
}

.f_foot_secone_two,
.f_foot_sectwo_one,
.f_footer_sect_two {
	display: flex;
	flex-direction: column;
}

.f_foot_secone_two ul li:nth-child(1),
.f_foot_sectwo_one ul li:nth-child(1),
.f_foot_sectwo_two ul li:nth-child(1) {
	font-weight: bold;
	margin-bottom: 10px;
	cursor: text;
}

.f_foot_secone_two ul li,
.f_foot_sectwo_one ul li,
.f_footer_sect_two ul li {
	color: $org;
	margin-top: 5px;
	transition: 0.1s;
}

.f_foot_sectwo_one li span {
	cursor: pointer;
	color: $org;
}

.f_foot_sectwo_one ul li:nth-child(1):hover {
	opacity: 1;
}

.f_foot_sectwo_one ul li span:hover {
	opacity: 0.7;
}

.f_foot_sectwo_two ul li:nth-child(1) {
	border-bottom: 1px solid #414141;
	padding-bottom: 5px;
	width: 150px;
}

.f_foot_sectwo_two span:nth-child(1) {
	color: #fff;
}

.f_foot_sectwo_one,
.f_footer_sect_two {
	text-align: center;
}

.f_sec_two_social {
	position: relative;
	display: inline-block;
	min-height: 40px;
}

.f_sec_two_social img {
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 5px;
	cursor: pointer;
	transition: 0.2s;
}

.f_sec_two_social img:hover {
	opacity: 0.8;
}

.footer_credits_txt {
	position: absolute;
	bottom: 0 !important;
	display: block;
	height: 30px;
	left: 0 !important;
	border-top: 1px solid #414141;
	color: #fff;
	text-align-last: center;
	font-size: 13px;
	padding-top: 0.3rem !important;
	z-index: 6;
	opacity: 0.5;
}

